.idea
src/ScanImeiApp.Tesseract/bin
src/ScanImeiApp.Tesseract/obj
src/ScanImeiApp/obj
src/ScanImeiApp/bin
tests/ScanImeiApp.IntegrationTests/obj
tests/ScanImeiApp.IntegrationTests/bin
tests/ScanImeiApp.UnitTests/bin
tests/ScanImeiApp.UnitTests/obj
tests/ScanImeiApp.Tests/bin
tests/ScanImeiApp.Tests/obj
src/ScanImeiApp.Contracts/bin
src/ScanImeiApp.Contracts/obj
src/ScanImeiApp.Web/bin
src/ScanImeiApp.Web/obj