@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <h2>Загрузите изображения</h2>
    <input type="file" id="imageInput" multiple>
    <button id="uploadButton" class="btn btn-primary">Сканировать</button>
    <div id="result"></div>
</div>

<script>
    document.getElementById('uploadButton').addEventListener('click', function () {
        let files = document.getElementById('imageInput').files;
        if (files.length > 0) {
            let formData = new FormData();
            for (let i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }

            fetch('/Home/Upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Обработка результата
                let resultElement = document.getElementById('result');
                resultElement.innerHTML = '<h3>Результат:</h3>';
                let ul = document.createElement('ul');
                data.forEach(function(item) {
                    let li = document.createElement('li');
                    li.textContent = item;
                    ul.appendChild(li);
                });
                resultElement.appendChild(ul);
            })
            .catch(error => {
                // Обработка ошибки
                document.getElementById('result').innerHTML = 'Ошибка при обработки изображений.';
            });
        }
    });
</script>